<ul class="list-group oLeftList">
  <li class="list-group-item {{current==0?'active1':''}}" ng-click="testClick('home.html',0)">首页</li>
  <li class="list-group-item {{current==1?'active1':''}}" ng-click="testClick('kind.html',1)">分类</li>
  <li class="list-group-item {{current==2?'active1':''}}" ng-click="testClick('cart.html',2)">购物车</li>
  <li class="list-group-item {{current==3?'active1':''}}" ng-click="testClick('user.html',3)">用户</li>
  <li class="list-group-item {{current==4?'active1':''}}" ng-click="testClick('exit.html',4)">退出</li>
</ul>